.modal{
    width: 720px;
    height: 718px;
    border-radius: 50px;
    background-color: #1C1C21;
  position: fixed;
  top: 20%;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close{
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
}