.left{
    width: 600px;
}
ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
li{
    width: 100%
}
.container{
    height: 75vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.head{
    margin: 60px 0 20px;
}
.menu{
    display: flex;
}
.list{
    text-decoration: none;
    color: white;
    width: 50%;
}
a{
    text-decoration: none;
  
}