.right{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.amount{
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    margin-right: 70px;
}
.ingredients{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 40vh;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerIngredient{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  
}
.margin{
    margin-left: 50px;
}
.construct {
    
    padding: 16px 24px;
    display: inline-block;
    border-radius: var(--common-border-radius-s);
    background: var(--background-element);
    width: 488px;
  
    height: 48px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
}

.constructorTop {
    border-radius: var(--top-constructor-item-border-radius);
}

.constructorBottom {
    border-radius: var(--bottom-constructor-item-border-radius);
}

.constructor-element__row {
    display: flex;
    align-items: center;
}