.right{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.amount{
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    margin-right: 70px;
}
.ingredients{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 40vh;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerIngredient{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  
}
.margin{
    margin-left: 50px;
}
