.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    background-color: rgba(0, 0, 0, 0.43);
display: flex;
justify-content: center;
align-items: center;
}