header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin-top: 40px;
}

.left{
    display: flex;
    column-gap: 48px;
    width: 30%;
}

.right{
    width: 30%;
    display: flex;
    justify-content: flex-end;

}
.inactive{
    color: #8585AD;
    text-decoration: none;
}
.active{
    color: white;
    text-decoration: none;
}
.flex{
    display: flex;
    gap: 8px;
}