header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin-top: 40px;
}

.left{
    margin-left: 40px;
    display: flex;
    column-gap: 48px;
    width: 30%;
}

a{
    color: white;
    text-decoration: none;
display: flex;
align-items: center;
column-gap: 8px;
}
.right{
    margin-right: 40px;
    width: 30%;
    display: flex;
    justify-content: flex-end;

}