.App{
display: flex;
position: relative;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
}

.main{
    width: 100%;
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    height: 90vh;
}